* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-top: 80px;
  background-color: #131313;
}
h1 {
  text-align: center;
  padding-bottom: 65px;
  color: #14addc;
  text-transform: uppercase;
  letter-spacing: 15px;
}
.gallery {
  width: 1000px;
  margin: 0 auto;

  position: relative;
}

.gallery__photo {
  width: 250px;
  height: 250px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 2px;

  position: absolute;
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 20px;
}

.gallery__photo--p1 {
  top: 0;
  left: 0;
}

.gallery__photo--p2 {
  top: 0;
  right: 0;
  z-index: 1;
}

.gallery__photo--p3 {
  top: 40px;
  left: 20%;
}

.gallery__photo--p4 {
  top: 60px;
  left: 40%;
}

.gallery__photo--p5 {
  top: 40px;
  left: 60%;
  z-index: 2;
}

.gallery__photo:hover {
  outline: 15px solid #14addc;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  transform: scale(1.05) translateY(-20px);
  z-index: 20;
}
.gallery:hover .gallery__photo:not(:hover) {
  transform: scale(0.9);
}